/* the imported fonts google */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* variables here */
$fonts: 'Akaya Kanadaka', cursive;
$fontFamily: 'Indie Flower', cursive;

$color: #221717;

$border-color: #2f490c;
$bgColor: #868613;

$hColor: #632626;